@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  touch-action: none;
  background-color: rgb(30, 30, 30);
}

.pastel-rainbow {
  background:
    linear-gradient(50deg,
      rgb(255, 173, 173),
      rgb(255, 214, 163),
      rgb(253, 255, 184),
      rgb(200, 255, 189),
      rgb(153, 246, 255),
      rgb(158, 195, 255),
      rgb(190, 179, 255),
      rgb(255, 199, 255),
      rgb(255, 255, 250));
  background-size: 500% 500%;
  animation: bg-anim 20s ease-in-out infinite alternate;
}

@keyframes bg-anim {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 0%;
  }
}

.growOnHoverWrap:hover .growOnHoverItem {
  transform: scale(1.05);
}

.glowing {
  animation: glow .7s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px #faa;
  }

  100% {
    box-shadow: 0 0 30px #faa;
  }
}
